<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
</head>
<body>

<table style="width:50%">
  <caption>Bot Data</caption>
  <tr>
    <th>Guild ID</th>
    <th>Guild Prefix</th>
  </tr>
  <% for(var i=0; i<Data.length; i++) {%>
      <tr>
         <td><%= Data[i]._id %></td>
         <td><%= Data[i].prefix %></td>
      </tr>
   <% } %>
</table>

</body>
</html>
